
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <a href="https://github.com/jlee-snn/w209_MOSS" class="simple-text logo-normal">
          Source Code
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>MOSS Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/shap_detailed.html">
              <i class="now-ui-icons education_atom"></i>
              <p>SHAP Detailed</p>
            </a>
          </li>
          <li>
            <a href="/lime_detailed.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>LIME Detailed</p>
            </a>
          </li>
          <li>
            <a href="/clustering_detailed.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>Clustering (Optional)</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
