body{
background-color: #222;
font-family: arial, sans-serif;
font-size: 20px;  
color: whitesmoke;
padding: 10px;
}

#title {
  text-align: center;
  margin-left: 200px;
  font-size: 48px;
  color: lightgray; 
}

#Cycling_select, #Swimming_select, #HIIT_select, #Running_select {
  margin-right: 10px;
}

#SF_select, #LA_select, #Col_select, #LV_select {
  margin-right: 10px;
}

.label {
  color: #ffffff;
}
.text {
  color: #ffffff;
}

.div {
  padding: 10px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: grey;
  stroke-width: 3px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.bar {
  fill: steelblue;
}

#lineChart {
  float: left;
  margin-right: 40px;
}

#barChart {
 float: left;
}

#typeDivider {
  margin-bottom: 40px;
}

#locDivider {
  margin-bottom: 40px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip{
  position      : absolute;
  text-align    : center;
  max-width     : 100px;
  max-height    : 30px;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  margin-top    : -30px;
  /* font          : 10px sans-serif; */
  background    : lightgrey;
  color         : black;
  pointer-events: none;

}

.bar:hover {
  fill: orangered ;
}