<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Homework #1 Part 2</title>
    <meta name="description" content="Jonathan Zhou Fall 2019 w209 Class Project for HW1PT2">
    <meta name="author" content="Jonathan Zhou">

    <link rel="stylesheet" href="static/css/bootstrap.css">    
    <link rel="stylesheet" href="static/css/style.css">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="row">
          <h1 id="title">MOSS Visualization</h1>
        </div>

        <div class="row" id="inputs">
          <!-- <div class="column" id="inputlist"></div> -->
          <div class="column" id="barviz"></div>
        </div>
    </div>
    
    <script src="static/js/d3.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
